/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Ensembl/datascout Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

profiles {
    singularity {
       singularity.enabled = true
       singularity.autoMounts = true
       singularity.cacheDir = "/hps/nobackup/rdf/metagenomics/service-team/singularity-cache/"
       registry = "quay.io"
    }

    lsf {
        workDir = params.workdir
        params.databases = params.dbs
        executor {
            name = "lsf"
            queueSize = 200
        }
        params.cloudProcess = true
        process.cache = "lenient"
    }

    slurm {
        workDir = "/hps/nobackup/rdf/metagenomics/service-team/nextflow-workdir/datascout"
        executor {
            name = "slurm"
            queueSize = 200
        }
        includeConfig 'conf/codon_dbs.config'
        params.cloudProcess = true
        process.cache = "lenient"
    }

    local {
         docker {
            enabled = true
            autoMounts = true
            registry = 'quay.io'
            userEmulation = true
            runOptions = "--platform linux/x86_64"
        }
        executor {
            name = "local"
            cpus = 2
            memory = '1 GB'
        }
        includeConfig 'conf/local.config'
    }
}


