/*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     Config to store CODON DB paths and names
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {

    rfam_db = "/hps/software/users/rdf/metagenomics/service-team/users/vkale/datascout/conf/rfam_db.config"
    taxdump = "/hps/software/users/rdf/metagenomics/service-team/users/vkale/datascout/dbs/taxdump.tar.gz"

}