/*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     Config to execute pipeline locally
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process.executor = 'local'

process {
    withName: GENOME_ASSEMBLY { cpus = 2; memory = { 2.GB * task.attempt } }
    withName: TAX_LINEAGE { cpus = 2; memory = { 8.GB * task.attempt } }
    withName: NCBI_ORTHODB { cpus = 2; memory = { 8.GB * task.attempt } }
    withName: UNIPROT_DATA { cpus = 2; memory = { 2.GB * task.attempt } }
}

params {
    samplesheet = "tests/samplesheet.csv"
    ncbi_db = "/Users/vkale/.etetoolkit/taxa.sqlite"
    taxdump = "/Users/vkale/Downloads/pipelines/datascout/dbs/taxdump.tar.gz"
    output = 'test_output'
}