/*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     Config to execute pipeline locally
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process.executor = 'local'

process {
    withName: TAX_LINEAGE { cpus = 2; memory = '1.0 GB'}
}

params {
    samplesheet = "tests/samplesheet.csv"
    ncbi_db = "dbs/taxdump.tar.gz"
}