/*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     Config to execute pipeline locally
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process.executor = 'local'

process {
    withName: GENOME_ASSEMBLY { cpus = 2; memory = { 2.GB * task.attempt } }
    withName: TAX_LINEAGE { cpus = 2; memory = { 8.GB * task.attempt } }
    withName: NCBI_ORTHODB { cpus = 2; memory = { 8.GB * task.attempt } }
    withName: UNIPROT_DATA { cpus = 2; memory = { 2.GB * task.attempt } }
    withName: RFAM_ACCESSIONS { cpus = 2; memory = { 2.GB * task.attempt } }
    withName: ENA_RNA_CSV { cpus = 2; memory = { 2.GB * task.attempt } }
    withName: DOWNLOAD_FASTQ_FILES { cpus = 2; memory = { 8.GB * task.attempt } }
    withName: ENA_RNA_CSV { cpus = 2; memory = { 2.GB * task.attempt } }
    withName: SOURMASH_SKETCH_FASTQ { cpus = 2; memory = { 8.GB * task.attempt } }
    withName: SOURMASH_SKETCH_GENOME { cpus = 2; memory = { 8.GB * task.attempt } }
    withName: SOURMASH_GATHER { cpus = 2; memory = { 8.GB * task.attempt } }
    withName: GET_CONTAINMENT { cpus = 2; memory = { 2.GB * task.attempt } }
    withName: PUBLISH_RUNS { cpus = 2; memory = { 2.GB * task.attempt } }
}

params {
    samplesheet = "tests/samplesheet.csv"
    ncbi_db = ""
    rfam_db = "conf/rfam_db.config"
    taxdump = ""
    output = 'test_output'
}