/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run Ensembl/datascout -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    // TODO nf-core: Specify the paths to your test data on nf-core/test-datasets
    // TODO nf-core: Give any required params for the test so that command line flags are not needed
    csv_file        = "${projectDir}/assets/test_data/genomes_list_2genomes.csv"
    outdir          = "${projectDir}/assets/test_data/out_test_dir"
    orthodb_dir     = "${projectDir}/assets/test_data/orthodb_test_dir"
    assemblies_dir  = "${projectDir}/assets/test_data/assemblies_test_dir"
    rna_fastq_dir   = "${projectDir}/assets/test_data/fastq_test_dir"
    uniprot_dir     = "${projectDir}/assets/test_data/uniprot_test_dir"
    ena_csv_dir     = "${projectDir}/assets/test_data/csv_tests_dir"

}
